@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  position: relative;
  border-radius: 0 0 0 210px; /* Adjust based on your specific border-radius needs */
  overflow: hidden; /* Ensure the rounded corners are maintained */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Inherit the background image from the parent */
  filter: brightness(70%);
  z-index: -1; /* Make sure it's behind the content */
  border-radius: inherit; /* Inherit the border-radius from the parent */
}
/* TailwindCSS classes to be used */
.navbar-fixed {
  @apply fixed top-0 left-0 w-full bg-white bg-opacity-75 z-30;
  backdrop-filter: blur(3px);
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.navbar-line {
  @apply w-[30px] h-[2px] my-2 block bg-black z-10;
}

.navbar-active > span:nth-child(1) {
  @apply rotate-45;
}

.navbar-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-active > span:nth-child(2) {
  @apply scale-0;
}
